body {
  font-family: 'Montserrat', sans-serif;
  
  margin: 0;
  padding: 0;
  font-size: large;
}


/* Fondo principal con degradado */
.bg-main {
  background: linear-gradient(to right, #274A7D, #9AB8DF);
}

/* Sin bordes redondeados */
.no-radius {
  border-radius: 0 !important;
}

/* Imagen cubriendo todo */
.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

/* Botón enviar */

#btnEnviar{
  color: white;
 background-color:#407CEB;
 border-color: #407CEB; 
 
}

.btn-container{
      text-align: center;
      margin-top: 20px;
}

#important{
  color: red;
}



