/* productos.css */
body{
  background-color: #213555;
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #E5D5C3;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  background-color: #E5D5C3;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.card select,
.card input[type="number"] {
  width: 48%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card button {
  margin-top: 10px;
}

#filterAccordion {
  background-color: #E5D5C3; /* Cambia este color al que prefieras */
  border-radius: 10px;
  padding: 1rem;
}
#accordion-item{
  background-color: #E5D5C3; /* Cambia este color al que prefieras */
  border-radius: 10px;
  padding: 1rem;
}
#accordion-header {
  background-color: #E5D5C3;
  border-radius: 10px;
  padding: 1rem;
}
.product-card__btn {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border:1px ;
    padding: var(--spacing-xs) var(--spacing-lg);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background var(--transition), transform var(--transition);
}
.product-card__btn:hover,
.product-card__btn:focus {
    background-color: #1b2f4a;
    transform: translateY(-2px);
}